<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AirTune · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="navbar navbar-expand-md navbar-dark bd-navbar">
      <nav role="navigation" class="container-fluid flex-wrap flex-md-nowrap">
        <%= link "", to: Routes.home_path(@conn, :index), class: "nav-link navbar-brand p-0 me-2 logo" %>
        <div class="collapse navbar-collapse">
          <%= if @current_user do %>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= @current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
                <%= link "Logout", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </div>
          <% else %>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
              <li class="navbar-nav flex-row flex-wrap ms-md-auto">
                <%= link "Sign up", to: Routes.pow_registration_path(@conn, :new), class: "nav-link" %>
              </li>
              <li class="navbar-nav flex-row flex-wrap ms-md-auto">
                <%= link "Log in", to: Routes.pow_session_path(@conn, :new), class: "nav-link" %>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>
    <main role="main" class="container pt-4">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
